@use "@/styles/constants" as *;
@use "@/styles/mixins" as *;

.header {
  max-width: $lg;
  width: 100%;
  padding: $spacing-md;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    flex-basis: 50%;
    .logo {
      display: flex;
      align-items: center;
      gap: calc(#{$spacing-sm} / 2);
      font-size: var(--font-size-heading);
      font-weight: 700;

      svg rect {
        @include transition(#{fill var(--transition-slow) ease 0s});
      }
    }
  }

  // .accounts {
  //   display: flex;
  //   gap: 2rem;

  //   a {
  //     @include hfa {
  //       color: var(--accent-color);
  //     }
  //   }
  // }

  .controls {
    display: flex;
    gap: 1rem;
  }
}
