@use "@/styles/constants" as *;

.page-container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    flex-grow: 1;
    min-width: $sm;
    max-width: $lg;
    width: 100%;
    padding: $spacing-md;
  }
}
