@use "@/styles/constants" as *;

.meet {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  .container {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    .name-panel {
      padding: $spacing-sm 0;
      box-shadow: var(--shadow);
    }
  }
}
