@import './variables';
@import './normalize';

:root {
  font-size: 16px;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'Red Hat Text', sans-serif;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
