@use "@/styles/constants";

@mixin hfa {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin transition($value) {
  @media (prefers-reduced-motion: no-preference) {
    transition: $value;
  }
}

@mixin box-shadow-focus($offset: 4px, $varname: --offset) {
  #{$varname}: $offset;
  --shadow-hsl: var(--translucent-hsl);
  outline: none;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 var(#{$varname}) 4px calc(-1 * var(#{$varname}))
    hsl(var(--shadow-hsl) / var(--opacity-hv));

  &:focus {
    #{$varname}: 0px;
  }
}

@mixin scrollbar {
  $scrollbar-size: 4px;

  &::-webkit-scrollbar {
    height: $scrollbar-size;
    width: $scrollbar-size;

    &-track,
    &-thumb {
      border-radius: $scrollbar-size;
    }
    &-track {
      background-color: var(--translucent-lw);
    }
    &-thumb {
      background-color: var(--text-color);
    }
  }
}

@mixin phone {
  @media (max-width: constants.$md) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: constants.$lg) {
    @content;
  }
}
