html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

img {
  border-style: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type='number'] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    height: auto;
  }
}