html {
  --white: hsl(0deg, 0%, 99%);
  --black: hsl(0deg, 0%, 11%);
  --grey-2: hsl(0deg, 0%, 22%);
  --grey-7: hsl(0deg, 0%, 77%);
  --grey-8: hsl(0deg, 0%, 88%);
  
  --purple-dark: hsl(272deg, 72%, 54%);
  --purple-light: hsl(272deg, 72%, 72%);
  
  --translucent-fe: rgba(127, 127, 127, 0.1);
  --translucent-lw: rgba(127, 127, 127, 0.2);
  --translucent-md: rgba(127, 127, 127, 0.5);
  --translucent-hv: rgba(127, 127, 127, 0.8);

  --shadow: 0 4px 40px 0 var(--translucent-lw);
}

html {
  --background-color: var(--white);
  --text-color: var(--black);
  --accent-color: var(--purple-dark);
}